:root {
  --bgColor: #efe6e6;
  --bgColorNavbar: #ff1414d6;
  --heightNavbar: 10vh;
  --important-color: #ff1414;
  --p-color:#000000;
}

* {
  padding: 0;
  margin: 0;
  font-family: 'Kanit', sans-serif;
}